.menu {
    width: 40px;
    height: 40px;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0. 0. 0. 0.05);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.menu:hover {
    background-color: var(--primary-hover);
}